.photo {
  height: 300px;
  width: 400px;
}

.bigContainer{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.endContainers{
  display: flex;
  flex: 1;
}

.root {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 10px;
  justify-self: center;
}

.navBar {
  display: flex;
  align-content: flex-start;
  justify-content: flex-end;
  flex-direction: row;
  margin: 10px;
}

.container {
  display: flex;
  align-content: flex-end;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 20px;
}

.item{
  margin: 5px;
}

.moveLeft {margin-right: auto;}